/* write your CSS here */
header{
      text-align:center; 
    padding:5px;
}
#header-line{
     font-size:14px;
}
#name {
    font-family:Helvetica;
    color: black;
    font-size:40px;
}
#about-me{
    font-size:12px;
}
h1 {
    font-family:Helvetica;
    color: black;
}
#email {
    font-size:12px;
    font-style:italic;
    color: navy;
}
h3{
    color:navy;
}
.news{
    width:70%;
    padding:5px;
    text-align:left;
    color:black;
    text-transform: none;
}
body{
     font-family:Helvetica;
    color:dimgrey; 
}
footer{
    padding:0.5px;
      text-align:center; 
}
